.ColourBlock{
  background-color: red;
  height: 100px;
  width: 100px;

}

.stopButton, .readyButton{
  margin-bottom: 3% !important;
  background-color: rgb(245, 97, 97) !important;
}

.ready{
  background-color: green !important;
}

.TimerClock{
  text-align: center;
}



.wrapper{
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 20%;
  background-color: #aaa !important;
  height: auto;
}
.tableWrapper{
  width: 25%;
  margin: auto;
  display: table;
  margin-bottom: 3%;
  text-align: center;
}

.tableWrapper p{
  margin: auto;
  padding: 5px;
}

.averageTime, .recordedTime{
  width: 100%;
}

.averageTime{
  padding-bottom: 10px;
}